/* CONTENT */


.nav__container
{
    background-color: #606060;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}
.nav__container-icon
{
    height: 4rem;
    display: flex;
    align-items: center;
}
.nav__item-icon
{
    width: 100%;
    height: 100%;
    background-color: #d8c97e;
}
.nav__container-ul
{
    margin: 0;
    height: 4rem;
    display: flex;
    align-items: center;
}
.nav__item-li
{
    width: 60%;
    height: 3rem;
    margin: 0 1rem;
    background-color: #FFFF;
}
.nav__item-li:nth-child(3)
{
    background-color: #d8c97e;

}

/* CONTENT */

.section
{
    background-color: #404040;
    width: 100%;
}
.container__content
{
    padding-left: 2rem;
}
.section__item-images
{
    height: 16rem;
    width: 50%;
    background-color: #d8c97e;
    margin-top: 2rem;
}
.section__item--images
{
    height: 16rem;
    width: 30%;
    background-color: #d8c97e;
    margin-top: 2rem;
}
.title__section
{
    width: 60%;
    height: 2.5rem;
    background-color: #fff;
    margin-top: 2rem;
}
.text__section
{
    width: 90%;
    height: 1rem;
    background-color: #606060;
    margin: 1.5rem 0 0 0;
}

/* ASIDE */

.aside__one
{
    background-color: #505050;
}
.container__item-aside
{
    margin: 3rem 0;
    padding: 0 3rem !important;
}
.title__section-aside
{
    width: 100%;
    height: 3rem;
    background-color: #909090;
    margin-top: 2rem;
}
.text__section-aside
{
    width: 80%;
    height: 1rem;
    background-color: #3d3d3d;
    margin: 1.5rem 0 0 0;
}
.text__section-aside:nth-child(4)
{
    width: 50%;
}